*{margin: 0; padding: 0;}
a{text-decoration: none;}
body{
    background: url(./wall.jpg) no-repeat center center;
    background-size: cover;
}
kbd{
    border: 1px solid red;
    width: 4em;
    height: 4em;
    display: inline-block;
    text-transform: uppercase;
    position: relative;
}
kbd >button{
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
}
kbd:hover >button{
    display: inline-block;
}
#xx{
    display: inline-block;
}
#xx >div:nth-child(2){
    margin-left: -15px;
}
#xx >div:nth-child(3){
    margin-left: -50px;
}
main{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.row{
    margin: 7px;
}
.row .key{
    margin: 0 6px;
}
.key{
    width: 56px;
    height: 54px;
    color:white;
    background-color: #000000;
    border-radius: 8px;border: none;
    box-shadow: 0 0 0 1px #1a1b1c,0 2px 0 #1f2020; 
    border: 1px solid #373737;
    position: relative;
    font-size: 18px;
    font-family: cursive;
}
.key img{
    width: 18px;
    height: 18px;
    position: absolute;
    left: 4px;
    bottom: 4px;
}
.key .text{
    position: absolute;
    top: 4px;
    left: 4px;
}